# Disabled for https://github.com/greenkeeperio/greenkeeper-lockfile/issues/194
# after_script: greenkeeper-lockfile-upload
# before_install: npm i -g greenkeeper-lockfile npm@latest
# before_script: greenkeeper-lockfile-update

install: npm install

language: node_js

node_js:
  - "node"

script:
  npm run setup && npm run verify:coverage

# Recommended workaround for https://github.com/travis-ci/travis-ci/issues/8836
sudo: required
addons:
  chrome: stable
