<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <title>Full Screen Pokemon</title>
    <meta name="keywords" content="fullscreenpokemon, full, screen, pokemon, javascript, html5, gaming, online, online game, fun, distraction" />
    <meta name="description" content="FullScreenPokemon is a free HTML5 remake of Nintendo's original Pokemon. Play it here!" />

    <!-- build:css index.min.css -->
    <link href="index.css" rel="stylesheet" />
    <!-- /build -->

    <link rel="shortcut icon" href="Theme/Icon.gif">
</head>

<body>
    <header>
        <img src="Theme/Header.gif" alt="FullScreenPokemon.com" />
        <div id="header-right">
            <a class="hoverable" target="_blank" href="https://twitter.com/FSPokemon">
                <img id="twitter" src="Theme/Twitter.png" alt="Twitter" />
            </a>
            <a class="hoverable" target="_blank" href="https://github.com/FullScreenShenanigans/FullScreenPokemon">
                <img id="github" src="Theme/Github.png" alt="Github" />
            </a>
            <a class="hoverable" target="_blank" href="https://facebook.com/FullScreenPokemon">
                <img id="facebook" src="Theme/Facebook.png" alt="Facebook" />
            </a>
        </div>
    </header>

    <section id="game">
        <!-- FSM.UserWrapper will fill out this section... -->
    </section>

    <section id="controls">
        <!-- FSM.UserWrapper will fill out this section... -->
    </section>

    <section id="explanation" class="section-text">
        Full Screen Pokemon is a free HTML5 remake of Nintendo's original Pokemon.
        It includes the original two generations, a random map generator, a <!-- social --> level editor, and over a dozen custom mods.
    </section>

    <section id="social" class="section-text">
        You may <a class="link-github" href="http://www.github.com/FullScreenShenanigans/FullScreenPokemon">download the game for yourself</a> from GitHub, the location of Full Screen Pokemon's open source project.
        Be sure to get the latest news on our <a class="link-facebook" href="http://www.facebook.com/FullScreenPokemon">Facebook</a> and <a class="link-twitter" href="http://www.twitter.com/FSPokemon">Twitter</a> too!
    </section>

    <section id="credits" class="section-text">
        Full Screen Pokemon was made possible first and foremost by Nintendo, who originally created Pokemon and has since maintained the series.
        It would also not have been possible without the dedicated efforts of the Pokemon fan community over the past two decades, in particular <a href="http://bulbapedia.bulbagarden.net/">Bulbapedia</a>.
    </section>

    <section id="hangar96" class="section-text">
        <a href="http://marathon.sourceforge.net" alt="Escape will make me god.">
            <img class="hoverable" src="Theme/Aleph One.png" />
        </a>
    </section>

    <section id="legal" class="section-text">
        <small><em>Pokemon and all associated games and media are property of Nintendo and/or Nintendo of America Inc., and are protected by United States and international copyright, trademark and other intellectual property laws.</em></small>
    </section>

    <!-- build:template
    //# sourceMappingURL=FullScreenPokemon-<%= version %>.min.js.map
    <script src="FullScreenPokemon-<%= version %>.min.js"></script>
    /build -->
    <!-- build:remove -->
    <script src="References/AreaSpawnr-0.2.0.js" type="text/javascript"></script>
    <script src="References/AudioPlayr-0.2.1.js" type="text/javascript"></script>
    <script src="References/ChangeLinr-0.2.0.js" type="text/javascript"></script>
    <script src="References/DeviceLayr-0.2.0.js" type="text/javascript"></script>
    <script src="References/EightBittr-0.2.0.js" type="text/javascript"></script>
    <script src="References/FPSAnalyzr-0.2.1.js" type="text/javascript"></script>
    <script src="References/GamesRunnr-0.2.0.js" type="text/javascript"></script>
    <script src="References/GroupHoldr-0.2.1.js" type="text/javascript"></script>
    <script src="References/InputWritr-0.2.0.js" type="text/javascript"></script>
    <script src="References/ItemsHoldr-0.2.1.js" type="text/javascript"></script>
    <script src="References/LevelEditr-0.2.0.js" type="text/javascript"></script>
    <script src="References/MapsCreatr-0.2.1.js" type="text/javascript"></script>
    <script src="References/MapScreenr-0.2.1.js" type="text/javascript"></script>
    <script src="References/MathDecidr-0.2.0.js" type="text/javascript"></script>
    <script src="References/ModAttachr-0.2.2.js" type="text/javascript"></script>
    <script src="References/NumberMakr-0.2.2.js" type="text/javascript"></script>
    <script src="References/ObjectMakr-0.2.2.js" type="text/javascript"></script>
    <script src="References/PixelDrawr-0.2.0.js" type="text/javascript"></script>
    <script src="References/PixelRendr-0.2.0.js" type="text/javascript"></script>
    <script src="References/QuadsKeepr-0.2.1.js" type="text/javascript"></script>
    <script src="References/ScenePlayr-0.2.0.js" type="text/javascript"></script>
    <script src="References/StringFilr-0.2.1.js" type="text/javascript"></script>
    <script src="References/ThingHittr-0.2.0.js" type="text/javascript"></script>
    <script src="References/TimeHandlr-0.2.0.js" type="text/javascript"></script>
    <script src="References/TouchPassr-0.2.0.js" type="text/javascript"></script>
    <script src="References/UsageHelpr-0.2.0.js" type="text/javascript"></script>
    <script src="References/UserWrappr-0.2.0.js" type="text/javascript"></script>
    <script src="References/WorldSeedr-0.2.0.js" type="text/javascript"></script>
    <script src="References/js_beautify.js" type="text/javascript"></script>
    <script src="References/GameStartr-0.2.0.js" type="text/javascript"></script>
    <script src="References/BattleMovr-0.2.0.js" type="text/javascript"></script>
    <script src="References/MenuGraphr-0.2.0.js" type="text/javascript"></script>
    <script src="References/StateHoldr-0.2.0.js" type="text/javascript"></script>
    <script src="FullScreenPokemon.js" type="text/javascript"></script>
    <script src="settings/audio.js" type="text/javascript"></script>
    <script src="settings/battles.js" type="text/javascript"></script>
    <script src="settings/collisions.js" type="text/javascript"></script>
    <script src="settings/devices.js" type="text/javascript"></script>
    <script src="settings/editor.js" type="text/javascript"></script>
    <script src="settings/generator.js" type="text/javascript"></script>
    <script src="settings/groups.js" type="text/javascript"></script>
    <script src="settings/events.js" type="text/javascript"></script>
    <script src="settings/help.js" type="text/javascript"></script>
    <script src="settings/input.js" type="text/javascript"></script>
    <script src="settings/maps.js" type="text/javascript"></script>
    <script src="settings/maps/Pallet Town.js" type="text/javascript"></script>
    <script src="settings/maps/Pewter City.js" type="text/javascript"></script>
    <script src="settings/maps/Route 1.js" type="text/javascript"></script>
    <script src="settings/maps/Route 2.js" type="text/javascript"></script>
    <script src="settings/maps/Route 21.js" type="text/javascript"></script>
    <script src="settings/maps/Route 22.js" type="text/javascript"></script>
    <script src="settings/maps/Viridian City.js" type="text/javascript"></script>
    <script src="settings/maps/Viridian Forest.js" type="text/javascript"></script>
    <script src="settings/math.js" type="text/javascript"></script>
    <script src="settings/menus.js" type="text/javascript"></script>
    <script src="settings/mods.js" type="text/javascript"></script>
    <script src="settings/objects.js" type="text/javascript"></script>
    <script src="settings/quadrants.js" type="text/javascript"></script>
    <script src="settings/renderer.js" type="text/javascript"></script>
    <script src="settings/runner.js" type="text/javascript"></script>
    <script src="settings/sprites.js" type="text/javascript"></script>
    <script src="settings/statistics.js" type="text/javascript"></script>
    <script src="settings/scenes.js" type="text/javascript"></script>
    <script src="settings/ui.js" type="text/javascript"></script>
    <!-- /build -->
    <!-- build:js index.min.js -->
    <script src="index.js" type="text/javascript"></script>
    <!-- /build -->
</body>
</html>